# Flaq
bin/

# Ansible
ansible/playbook.retry

# Ansible Galaxy Roles
ansible/roles/ANXS.*/
ansible/roles/golang/
ansible/roles/nginx/

# NPM/Yarn
node_modules/
yarn-error.log

# Vagrant
.nfs*
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
