[Unit]
Description=Flaq API
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ ansible_env.HOME}}/go/src/github.com/nicklaw5/flaq
ExecStart={{ ansible_env.HOME}}/go/src/github.com/nicklaw5/flaq/flaq
ExecStop=/bin/kill -2 $MAINPID
RestartSec=5
StartLimitInterval=30s
StartLimitBurst=3
Restart=always

[Install]
WantedBy=multi-user.target
Alias=flaq-api.service
